/* Google Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ---------------------
--------Base CSS--------
--------------------- */

body{
    font-family: 'Poppins', sans-serif;
}

/* Banner CSS */
.slider_bg_color{
    background-color: #000;
}

.overlay{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

