/* Google Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ---------------------
--------Base CSS--------
--------------------- */

body{
    font-family: 'Poppins', sans-serif;
}


/* Banner CSS */
.slider_bg_color{
    background-color: #000;
}

.overlay{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

/* Card */
.card_heading_color{
    color: #231D4F;
}

.card_button_bg{
    background-color: #fef5fa;
}

.card_list li i.fas {
    color: #5243C2;
    background-color: #edecf9;
}

.highlight_price {
    top: -40px;
}

.highlight_price .card {
    border-radius: 25px;
}

.highlight_price li i.fas {
    color: #fff;
    background-color: #5293f6;
}

.tag {
    background: #ff4e4e;
    right: -40px;
}

footer{
    background-color: #0B0D17;
}



